<div id="background"></div>
<div id="container">
    <h1>Welcom to Tech Notes</h1>
    <div>
        <h3>...where your notes really matter.</h3>
        <h4>We could not identify your account.</h4>
        <p>Please create an account.</p>
        <p>
            <label class="btn btn--pink" for="modal-2">Sign Up</label>
        </p>
    </div>
</div>

<input class="modal-state" id="modal-2" type="checkbox" />
<div class="modal">
  <label class="modal__bg" for="modal-2"></label>
  <div class="modal__inner">
    <label class="modal__close" for="modal-2"></label>
    <h1>Sign Up</h1>
    <form action="/signup" method="post">
        <input type="text" name="user_name" id="user_name" placeholder="Username">
        <input type="text" name="first_name" id="first_name" placeholder="First Name">
        <input type="text" name="last_name" id="last_name" placeholder="Last Name">
        <input type="text" name="email" id="email" placeholder="E-mail Address">
        <input type="date" name="birthday" id="birthday" placeholder="Birthday">
        <input type="text" name="image_url" id="image_url" placeholder="Image">
        <input type="password" name="password" id="password" placeholder="Password">
        <input type="submit" value="Go">
    </form>
    </div>
</div>