<div class="ui piled segment">
  <br>
  <h1 class="title"><%= @specific_post.title %></h1>
  <br>
  <br>
    <div id="post_image">
      <img src=<%= @specific_post.image%> >
    </div>
  <br>
  <br>
  <div id="paragraph">
    <p><%= @specific_post.text %></p>
  </div>
</div>