<div class="ui special cards">
<% @users.each do |user| %>
  <div class="card">
    <div class="blurring dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <div class="ui inverted button">Add Friend</div>
          </div>
        </div>
      </div>
      <img class="users" src=<%=user.image_url%> />
    </div>
    <div class="content">  
      <a class="header" href="/users_posts/<%=user.user_name%>"><%=user.first_name%> <%=user.last_name%></a>
      <div class="meta">
        <span class="date">Joined Tech Notes in 2018</span>
      </div>
    </div>
    <div class="extra content">
      <a>
        <i class="facebook icon"></i>
      </a>
      <a>  
        <i class="twitter icon"></i>
      </a> 
      <a> 
        <i class="instagram icon"></i>
      </a>
    </div>
  </div>
<%end%>
</div>
</div>
